<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New chat</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h3>Create New Chats Here</h3>
    <form method="post" action="/chats">
      <input type="text" name="from" placeholder="Who are you?" /> <br />
      <br />
      <textarea name="message" placeholder="write your message here"></textarea
      ><br />
      <br />
      <input type="text" name="to" placeholder="Enter Receiver name" /><br />
      <br />
      <button>Create Chat</button>
    </form>
  </body>
</html>
